<mapper namespace="com.tomato.framework.plugin.mybatis.UserDao">
  <!-- select标签，封装了SQL语句信息、入参类型、结果映射类型 -->
  <select id="findUserById" parameterType="java.lang.Integer"
    resultType="com.tomato.framework.plugin.mybatis.User" statementType="prepared">
    SELECT * FROM kkb_user WHERE id = #{id}
  </select>
</mapper>