<?xml version="1.0" encoding="UTF-8"?>
<beans>
  <!-- 配置handler -->

  <!-- 配置处理器映射器 -->
  <bean class="com.tomato.framework.plugin.mvc.handler.BeanNameUrlHandlerMapping" init-method="init"/>
  <bean
    class="com.tomato.framework.plugin.mvc.handler.RequestMappingHandlerMapping"
    init-method="init"></bean>
  <!-- 配置处理器适配器 -->
  <bean
    class="com.tomato.framework.plugin.mvc.handler.RequestMappingHandlerAdapter"></bean>

  <component-scan package="com.xxx.springmvc.handler"/>
</beans>