<configuration>
  <!-- mybatis 数据源环境配置 -->
  <environments default="dev">
    <environment id="dev">
      <!-- 配置数据源信息 -->
      <dataSource type="DBCP">
        <property name="driver" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://gerry-out.mysql.rds.aliyuncs.com:3306/kkb" />
        <property name="username" value="gerry" />
        <property name="password" value="123456jX" />
      </dataSource>
    </environment>
  </environments>

  <!-- 映射文件加载 -->
  <mappers>
    <!-- resource指定映射文件的类路径 -->
    <mapper resource="mapper/UserMapper.xml"></mapper>
  </mappers>
</configuration>